{
    email {$ACME_EMAIL}
}

www.taxiairportgdansk.com {
    redir https://taxiairportgdansk.com{uri} 301
}

taxiairportgdansk.com {
    header Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
    redir /pl /pl/ 301
    redir /en /en/ 301
    redir /de /de/ 301
    redir /fi /fi/ 301
    redir /no /no/ 301
    redir /sv /sv/ 301
    redir /da /da/ 301
    redir /gdansk-airport-taxi /en/gdansk-airport-taxi 301
    redir /gdansk-airport-to-sopot /en/gdansk-airport-to-sopot 301
    redir /gdansk-airport-to-gdynia /en/gdansk-airport-to-gdynia 301
    redir /pricing /en/pricing 301
    redir /cookies /en/cookies 301
    redir /privacy /en/privacy 301
    redir /taxi-lotnisko-gdansk /pl/taxi-lotnisko-gdansk 301
    redir /lotnisko-gdansk-sopot /pl/lotnisko-gdansk-sopot 301
    redir /lotnisko-gdansk-gdynia /pl/lotnisko-gdansk-gdynia 301
    redir /polityka-cookies /pl/polityka-cookies 301
    redir /polityka-prywatnosci /pl/polityka-prywatnosci 301
    redir /pl/gdansk-airport-taxi /pl/taxi-lotnisko-gdansk 301
    redir /pl/gdansk-airport-to-sopot /pl/lotnisko-gdansk-sopot 301
    redir /pl/gdansk-airport-to-gdynia /pl/lotnisko-gdansk-gdynia 301
    redir /pl/cookies /pl/polityka-cookies 301
    redir /pl/privacy /pl/polityka-prywatnosci 301
    @gtag path /gtag/js
    reverse_proxy @gtag https://www.googletagmanager.com {
        header_up Host www.googletagmanager.com
    }
    reverse_proxy /api/* host.docker.internal:8000
    reverse_proxy /* frontend:3000
}

logs.taxiairportgdansk.com {
    header Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
    basicauth /* {
        {$LOGS_USER} {$LOGS_PASS_HASH}
    }
    reverse_proxy logs:8080
}
