services:
  caddy:
    image: caddy:2-alpine
    ports:
      - "80:80"
      - "443:443"
    environment:
      - ACME_EMAIL=${ACME_EMAIL}
    extra_hosts:
      - "host.docker.internal:host-gateway"
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile:ro
      - caddy_data:/data
      - caddy_config:/config
    depends_on:
      - frontend

  frontend:
    image: ghcr.io/wkorol/tag-frontend:latest
    restart: unless-stopped

  postgres:
    image: postgres:16-alpine
    restart: unless-stopped
    profiles: ["postgres"]
    environment:
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    volumes:
      - pg_data:/var/lib/postgresql/data

  backend:
    image: ghcr.io/wkorol/tag-backend:latest
    restart: unless-stopped
    profiles: ["backend"]

volumes:
  caddy_data:
  caddy_config:
  pg_data:
